<p>Hey <%= name %>,</p>
<p>
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p>To get started using Nice App, please confirm your account below:</p>
<p>Code: \t <%= code %></p>
